<!-- wp:theblocktheme/navbar /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:theblocktheme/slider /-->

    <!-- wp:theblocktheme/firstpost /-->

    <!-- wp:theblocktheme/container -->
    <div class="wp-block-theblocktheme-container">
        <!-- wp:theblocktheme/latestpostscustom /-->

        <!-- wp:theblocktheme/rightsidebar /-->
    </div>
    <!-- /wp:theblocktheme/container -->

    <!-- wp:query {"queryId":31,"query":{"perPage":1,"className":"veryimportantpost","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[4]}}} -->
    <div class="wp-block-query">
        <!-- wp:post-template {"className":"veryimportantpost"} -->
        <!-- wp:group {"className":"veryimportantcontent"} -->
        <div class="wp-block-group veryimportantcontent">
            <!-- wp:post-title {"isLink":true,"className":"veryimportantcontent"} /-->

            <!-- wp:post-excerpt {"className":"veryimportantcontent"} /-->
        </div>
        <!-- /wp:group -->
        <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->

    <!-- wp:heading -->
    <h2 class="indexblocktitles">REVIEWS</h2>
    <!-- /wp:heading -->

    <!-- wp:query {"queryId":29,"query":{"perPage":5,"className":"postbycategorycontainer","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[1]}}} -->
    <div class="wp-block-query">
        <!-- wp:post-template {"className":"postbycategorycontainer"} -->
        <!-- wp:post-featured-image {"className":"contentimage"} /-->

        <!-- wp:group {"className":"contenttext"} -->
        <div class="wp-block-group contenttext">
            <!-- wp:post-title {"isLink":true} /-->

            <!-- wp:group -->
            <div class="wp-block-group">
                <!-- wp:separator -->
                <hr class="wp-block-separator has-alpha-channel-opacity" />
                <!-- /wp:separator -->

                <!-- wp:separator -->
                <hr class="wp-block-separator has-alpha-channel-opacity" />
                <!-- /wp:separator -->
            </div>
            <!-- /wp:group -->

            <!-- wp:post-excerpt /-->

            <!-- wp:group {"className":"theauthor"} -->
            <div class="wp-block-group theauthor">
                <!-- wp:post-author /-->

                <!-- wp:post-date /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination -->
        <!-- wp:query-pagination-previous /-->

        <!-- wp:query-pagination-numbers /-->

        <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->

        <!-- wp:query-no-results -->
        <!-- wp:paragraph -->
        <p>Nothing found.</p>
        <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->

    <!-- wp:heading -->
    <h3 class="videostitle">Videos</h3>
    <!-- /wp:heading -->

    <!-- wp:group {"className":"videoWrapper"} -->
    <div class="wp-block-group videoWrapper">
        <!-- wp:query {"queryId":35,"query":{"perPage":1,"className":"container35","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[4]}}} -->
        <div class="wp-block-query">
            <!-- wp:post-template {"className":"container35"} -->
            <!-- wp:post-featured-image {"className":"contentimage"} /-->

            <!-- wp:group {"className":"contenttext"} -->
            <div class="wp-block-group contenttext">
                <!-- wp:post-title {"isLink":true} /-->
            </div>
            <!-- /wp:group -->
            <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->

        <!-- wp:query {"queryId":35,"query":{"perPage":4,"className":"container33","pages":0,"offset":1,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[4]}}} -->
        <div class="wp-block-query">
            <!-- wp:post-template {"className":"container33"} -->
            <!-- wp:post-featured-image {"className":"contentimage"} /-->

            <!-- wp:group {"className":"contenttext"} -->
            <div class="wp-block-group contenttext">
                <!-- wp:post-title {"isLink":true} /-->
            </div>
            <!-- /wp:group -->
            <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:group -->

    <!-- wp:heading {"className":"indexblocktitles"} -->
    <h2 class="indexblocktitles">OPINIONS</h2>
    <!-- /wp:heading -->

    <!-- wp:query {"queryId":30,"query":{"perPage":5,"className":"postbycategorycontainer","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[4]}}} -->
    <div class="wp-block-query">
        <!-- wp:post-template {"className":"postbycategorycontainer"} -->
        <!-- wp:post-featured-image {"className":"contentimage"} /-->

        <!-- wp:group {"className":"contenttext"} -->
        <div class="wp-block-group contenttext">
            <!-- wp:post-title {"isLink":true} /-->

            <!-- wp:group -->
            <div class="wp-block-group">
                <!-- wp:separator -->
                <hr class="wp-block-separator has-alpha-channel-opacity" />
                <!-- /wp:separator -->

                <!-- wp:separator -->
                <hr class="wp-block-separator has-alpha-channel-opacity" />
                <!-- /wp:separator -->
            </div>
            <!-- /wp:group -->

            <!-- wp:post-excerpt /-->

            <!-- wp:group {"className":"theauthor"} -->
            <div class="wp-block-group theauthor">
                <!-- wp:post-author /-->

                <!-- wp:post-date /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination -->
        <!-- wp:query-pagination-previous /-->

        <!-- wp:query-pagination-numbers /-->

        <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->

        <!-- wp:query-no-results -->
        <!-- wp:paragraph -->
        <p>Nothing found.</p>
        <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:theblocktheme/footer -->
<div class="wp-block-theblocktheme-footer">
    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"100%"} -->
        <div class="wp-block-column" style="flex-basis:100%">
            <!-- wp:heading {"level":5} -->
            <h5>About Us</h5>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, voluptatum ad! Error totam modi, ducimus
                eum quidem corporis porro facilis doloremque saepe ex. Neque quos adipisci blanditiis iste vitae eos!
            </p>
            <!-- /wp:paragraph -->

            <!-- wp:paragraph -->
            <p> </p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"100%"} -->
        <div class="wp-block-column" style="flex-basis:100%">
            <!-- wp:heading {"level":5} -->
            <h5>Popular Tags</h5>
            <!-- /wp:heading -->

            <!-- wp:tag-cloud /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"100%"} -->
        <div class="wp-block-column" style="flex-basis:100%">
            <!-- wp:heading {"level":5} -->
            <h5>Categories</h5>
            <!-- /wp:heading -->

            <!-- wp:categories /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

</div>

<!-- /wp:theblocktheme/footer -->
<!-- wp:heading {"level":5,"className":"designedby"} -->
<h5 class="designedby">Deisgned by <a href="mailto:alanparniyan@gmail">Alan Parniyan</a></h5>
<!-- /wp:heading -->