<!-- wp:theblocktheme/navbar /-->

<!-- wp:theblocktheme/page /-->


<!-- wp:theblocktheme/footer -->
<div class="wp-block-theblocktheme-footer">

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"100%"} -->
        <div class="wp-block-column" style="flex-basis:100%">
            <!-- wp:paragraph {"className":"footeraboutus"} -->
            <h5>About Us</h5>
            <p class="footeraboutus">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, voluptatum ad!
                Error totam modi, ducimus eum quidem corporis porro facilis doloremque saepe ex. Neque quos adipisci
                blanditiis iste vitae eos!</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"100%"} -->
        <div class="wp-block-column" style="flex-basis:100%">
            <h5>Popular Tags</h5>

            <!-- wp:tag-cloud /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column {"width":"100%"} -->
        <div class="wp-block-column" style="flex-basis:100%">
            <h5>Categories</h5>

            <!-- wp:categories /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->


</div>
<!-- /wp:theblocktheme/footer -->
<!-- wp:heading {"level":5,"className":"designedby"} -->
<h5 class="designedby">Deisgned by <a href="mailto:alanparniyan@gmail">Alan Parniyan</a></h5>
<!-- /wp:heading -->